


#app {
 
  height: 100vh;
  overflow: hidden;
   aside {
    padding: 4rem;
  }
}



main {
  overflow: auto;
  height: 100%;
  & .main-container {
    margin-inline: auto;
    max-width: 33rem;
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
  }
  & .back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
  & h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: 0.5rem;
    color: var(--text-primary);
  }
}

@media(width >=80em){
  #app{
    display: grid;
    grid-template-columns: 51.25% 1fr;
  }
  main{
    padding: 4rem;
    & .main-container{
      padding-block: 0;
      padding-inline: 0;
    margin-left: auto;

    }
  }
}


aside {
  & .aside-container {
    max-width: 31rem;
    margin-right: auto;
    & img:nth-child(2){
      margin-top: 2rem;
      height: 23rem;
      width: 100%;
      object-fit: cover;
    }
  }

  header {
    & img {
      margin-bottom: 0.5rem;
    }
   
  }

  background-color: var(--surface-secondary);

  & h2 {
    font: 600 2.5rem/ 1.25 var(--font-family);
    margin-bottom: 0.5rem;

    & span {
      color: var(--text-highlight);
    }
  }

}

